# Hugo
public/
resources/_gen/
.hugo_build.lock
hugo_stats.json

# Node.js
node_modules/
npm-debug.log*

# Environment
.env
.env.*

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log

# Deployment
.netlify/
.vercel/
